/* Import fonts from Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700|Romanesco:400");

/* Importing all components file */
@import url("./components/cards.css");
@import url("./components/avatar.css");
@import url("./components/full_page.css");
@import url("./components/containers.css");
@import url("./components/buttons.css");
@import url("./components/titles.css");

/* General for fonts and colors */
body {
  margin: 0;
  padding: 0
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.title-bar {
  font-family: 'Nunito Sans', 'Gill Sans', sans-serif;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: lightblue;
  text-align: center;
}


