button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .15rem;
}

.button-column {
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.btn-square {
    padding: 6px;
    border-radius: 0;
    background: none;
    border: 2px solid red;
    color: red;
    transition: .3s;
}
.btn-square:hover {
    padding: 4px 50px;
    background: rgba(250, 126, 30, 0.5)
}

.inner-square {
    background-image: url('https://images.unsplash.com/photo-1512641406448-6574e777bec6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
    background-position: center;
    width: 100%;
    height: 80%;
    margin: 0;
    padding-top: 5%;
}
.square-2 {
    color: orangered;
    width: 150px;
    height: 40px;
    padding: 2px;
    background: linear-gradient(to right, red, orange, red);
    border: none;
}
.square-2:hover {
    padding: 3px;
    background: linear-gradient(to right, orange, red, orange);
    transform: scale(1.2);
    border-radius: 4px;
}

.square-3 {
    font-weight: 900;
    border: 5px solid red;
}
.square-3:hover {
    font-size: larger;
    padding: 10px;
    border: 20px solid red;
    background: rgba(255, 254, 254, 0.7);

}

.btn-bubble {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
    background-color: black;
    transition: .3s;
}

.bubble-1 {

}

.bubble-1:hover {
    background-image: radial-gradient(yellow, orange);
    border: 4px solid rgb(69, 5, 114);
    color: rgb(69, 5, 114);
}

.bubble-2 {
    
}

.bubble-2:hover {
    width: 110px;
    height: 110px;
    border: 2px solid black;
    color: black;
    background-color: unset;
}

.bubble-3 {
    
}

.bubble-3:hover {
    box-shadow: 0 0 5px 5px white;
    animation: teeter 1s ease-in infinite;
}


@keyframes teeter {
    0% { transform: rotate(0deg) scale(1) }
    30% { transform: rotate(20deg) }
    70% { transform: rotate(-20deg) scale(1.3) }
}

@keyframes borderCircle {
    0% { 
        border-top: 2px solid white;
        padding: 2px; }
    25% { 
        border-right: 2px solid white;
        }
    50% { 
        border-bottom: 2px solid white;
        padding: 30px}
    75% { 
        border-left: 2px solid white;
        }
}

.btn-simple {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    border: none;
    background: none;
    color: white;
    transition: .3s;
}

.simple-1:hover {
    animation: borderCircle 1s ease infinite; 
}

.simple-2:hover {
    transform: scaleX(1.5);
    text-shadow: 2px 2px 2px lightpink;
}

.simple-3:hover {
    text-decoration: underline;
}





